<header class="page-header">
    <div class="page-header__topbar">
        <div class="container">
            <div class="page-header__menu">
                <ul class="page-header__menu-list page-header__menu-list--left">
                    <li class="page-header__menu-item">
                        <a href="#" class="page-header__menu-link">
                            <img class="page-header__menu-icon" src="./media/icons/nav-home.png" alt="Icon">
                            <span>Ustaw jako stronę startową</span>
                        </a>
                    </li>
                    <li class="page-header__menu-item">
                        <a href="#" class="page-header__menu-link">
                            <img class="page-header__menu-icon" src="./media/icons/nav-alert.png" alt="Icon">
                            Rolniczy ALARM 24</a>
                        </li>
                    <li class="page-header__menu-item">
                        <a href="#" class="page-header__menu-link">
                            <img class="page-header__menu-icon" src="./media/icons/nav-subscription.png" alt="Icon">Prenumerata
                        </a>
                    </li>
                    <li class="page-header__menu-item">
                        <a href="#" class="page-header__menu-link">
                            <img class="page-header__menu-icon" src="./media/icons/nav-advert.png" alt="Icon">
                            Reklama
                        </a>
                    </li>
                </ul>
                <ul class="page-header__menu-list page-header__menu-list--right">
                    <li class="page-header__menu-item page-header__menu-item--weather">
                        <a href="#" class="page-header__menu-link">
                            <img class="page-header__menu-icon page-header__menu-icon" src="./media/icons/weather-cloudy.png" alt="Icon">
                            <span>32&#186C / 18&#186C</span>
                        </a>
                    </li>
                    <li class="page-header__menu-item page-header__menu-item--dropdown">
                        <a href="#" class="page-header__menu-link page-header__dropdown-button navigation-dropdown__button dropdown__button dropdown__button--clickable dropdown__button--dark">
                            Warszawa
                            <img class="page-header__menu-icon" src="./media/icons/arrow.svg" alt="Icon">
                        </a>
                        <div class="page-header__nav-dropdown navigation-dropdown dropdown">
                            <ul class="navigation-dropdown__list">
                                <li class="navigation-dropdown__item">
                                    <a href="#" class="page-header__nav-link navigation-dropdown__link">Poznań</a>
                                </li>
                                <li class="navigation-dropdown__item">
                                    <a href="#" class="page-header__nav-link navigation-dropdown__link">Gorzów</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="page-header__menu-item">
                        <a href="#" class="page-header__menu-link">Pogoda</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-header__main">
        <div class="container">
            <div class="page-header__main-content">
                <div class="page-header__logo-container">
                    <figure class="page-header__logo">
                        <a href="index.html">
                            <img class="page-header__logo-image" src="./images/logo.jpg"/>
                        </a>
                    </figure>
                </div>
                <div class="page-header__widgets-container">
                    <div class="page-header__mobile-button-container">
                        <a href="#" class="page-header__mobile-search-button icon-search" type="submit"></a>
                    </div>
                    <div class="page-header__search-container">
                        <form action="/" class="page-header__search-form">
                            <input class="page-header__search-input" type="search" placeholder="Szukaj">
                            <button class="page-header__search-button icon-search" type="submit"></button>
                        </form>
                    </div>
                    <div class="page-header__quotations">
                        <div class="page-header__quotations-slider owl-carousel">
                            <div class="page-header__quotation-slide">
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-link icon-up" href="#">Przenica k.</a>
                                </p>
                                <p class="page-header__quotation-content">
                                    <a href="#" class="page-header__quotation-value">5.21 zł/kg</a>
                                </p>
                            </div>
                            <div class="page-header__quotation-slide">
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-link icon-down" href="#">Przenica k.</a>
                                </p>
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-value" href="#">5.21 zł/kg</a>
                                </p>
                            </div>
                            <div class="page-header__quotation-slide">
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-link icon-up" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure suscipit recusandae impedit aspernatur placeat quos repellendus corporis illum sit ex veniam totam officia temporibus ullam amet eius dolore, explicabo fuga?</a>
                                </p>
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-value" href="#">5.21 zł/kg</a>
                                </p>
                            </div>
                            <div class="page-header__quotation-slide">
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-link icon-up" href="#">Przenica k.</a>
                                </p>
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-value" href="#">5.21 zł/kg</a>
                                </p>
                            </div>
                            <div class="page-header__quotation-slide">
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-link icon-down" href="#">Przenica k.</a>
                                </p>
                                <p class="page-header__quotation-content">
                                    <a class="page-header__quotation-value" href="#">5.21 zł/kg</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="page-header__mobile-weather">
                    <a class="page-header__menu-link" href="#">
                        <img class="page-header__weather-icon" src="./media/icons/weather-cloudy.png" alt="Weather icon">
                    </a>
                    <a class="page-header__menu-link" href="#">
                        <p>32&#186C / 18&#186C</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
